@import '../../styles/colors';
@import '../../styles/mixins';

.button {
  padding: 10px 20px 10px 20px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid $grey;
  border-radius: 5px;

  @include hover() {
    color: $white;
    background: $black;
  }
}
