.pokemon-evolution {
  &:not(:last-child) {
    margin-right: 10px;
  }

  .pokemon-evolution-card {
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;

    &:hover {
      cursor: pointer;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .3);
      transition: all ease .3s;
    }

    img {
      margin-right: 10px;
      max-height: 45px;
    }
  }
}
