@import '../../styles/media-queries';

.skeleton-card-loading {
  margin: 0 0 10px 0;
  padding: 20px;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;

  @include for-up-sm() {
    margin-right: 10px;
    width: 400px;
  }
}
